<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h2>Cadastro de Categorias</h2>
        </div>
    </div>
    <div class="row">
        <form class="col s12">
            <input type="text" id="ID" hidden>
            <div class="row">
                <div class="input-field col s12">
                    <input id="nomeCategoria" type="text" class="validate">
                    <label for="nomeCategoria">Nome</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 center">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Cadastrar
                        <i class="material-icons left">send</i>
                    </button>
                </div>  
            </div> 
        </form>
    </div>
</div>