<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue">
            <a href="#" class="left brand-logo"><i class="material-icons">home</i>Início</a>
            
            <ul class="right">
                <li>
                    <a href="#" class="dropdown-trigger" data-target="dropdown-cadastros">
                        <i class="right material-icons">add_circle_outline</i>
                        <span>Cadastros</span>
                    </a>
                </li>
            </ul>

            <!-- MenuDropdown -->
            <ul id="dropdown-cadastros" class="dropdown-content">
                <li><a href="filme">Filme</a></li>
                <li><a href="categoria_filme">Categoria</a></li>
            </ul>
        </div>
    </nav>
</div>

<main>
    <h3>Texto</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates soluta veniam illum facilis harum sequi odit tempore eius, aspernatur iure aut magnam error quos maxime eligendi, architecto quod quo vel.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates soluta veniam illum facilis harum sequi odit tempore eius, aspernatur iure aut magnam error quos maxime eligendi, architecto quod quo vel.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates soluta veniam illum facilis harum sequi odit tempore eius, aspernatur iure aut magnam error quos maxime eligendi, architecto quod quo vel.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates soluta veniam illum facilis harum sequi odit tempore eius, aspernatur iure aut magnam error quos maxime eligendi, architecto quod quo vel.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates soluta veniam illum facilis harum sequi odit tempore eius, aspernatur iure aut magnam error quos maxime eligendi, architecto quod quo vel.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates soluta veniam illum facilis harum sequi odit tempore eius, aspernatur iure aut magnam error quos maxime eligendi, architecto quod quo vel.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates soluta veniam illum facilis harum sequi odit tempore eius, aspernatur iure aut magnam error quos maxime eligendi, architecto quod quo vel.</p>
</main>